# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/

# OS
.DS_Store

# Tooling caches
.pytest_cache/
.mypy_cache/
.ruff_cache/

# App artifacts
*.pdf

# Secrets (never commit!)
.env
storage.json
.streamlit/
